# Object files
*.o

# Dependency files
*.d

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

# Vim swap files
.*.sw*

# Test output
test/*

# Binary
rowavedt
